<div class="col-md-12">
    <div class="row">
            <div *ngIf="!currentRestaurant">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 restaurant-card" *ngFor="let restaurante of restaurantes">

                        <restaurant-component [restaurant]="restaurante"
                                              (onRestaurantClick)="viewRestaurantSpots($event)">
                        </restaurant-component>

                    </div>
                </div>
            </div>
            <div *ngIf="currentRestaurant">
                <a (click)="cancel()" class="float-right padding-bottom">Regresar</a>
                <div class="row padding-bottom">
                    <div class="col-md-4 col-xs-4">
                        <strong>Restaurante</strong>
                    </div>
                    <div class="col-md-6 col-xs-8">
                        {{currentRestaurant.nombre}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-2" *ngFor="let spot of spots">
                        <spot-component [spot]="spot"
                                        (onSpotClick)="saveReserve($event)">
                        </spot-component>
                    </div>
                </div>
            </div>
    </div>
</div>
